/* Setup */
html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Typography */
#brand-title {
    font-size: 24px;
    font-weight: 600;
}


/* Container */
.container {
    margin: 0 auto;
    max-width: 1120px;
}


/* Navigation  */
header {
    border: 1px solid black;
 
}
nav {
    display: flex;
    min-height: 80px;
    padding: 10px;
    align-items: center;
}

.navbar {
    display: flex;
    margin-left: auto;
}


nav span {
    margin-right: 20px;
}

nav span:hover {
    cursor: pointer;
}



/* Modal */
.modal {
    position: absolute;
    padding: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    box-shadow: 1px 1px 2px 1px rgba(53, 52, 52, 0.39);
    background: rgb(255, 254, 254);
    z-index: 2;
}

#modal-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.671);

    z-index: 1;
}



/* Forms */

#form-login {

}

.form-auth input{
    margin-bottom: 20px;
}

.form-auth .user-input {
    display: block;
  
    padding: 15px 20px;
    width: 100%;
    background: lightblue;
    border: 0;
    font-size: 18px;
}

#form-login .user-input::placeholder {
    font-size: 18px;
}

.form-auth legend{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}


/* Buttons */
.btn-submit {
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
}

.btn-switch {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
}


/* Helpers */
.hidden {
    display: none;
}

