/* Setup */
html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: linear-gradient(to bottom, #002c6f, #005c87, #3b868d, #8fab9f, #d0d1ce);
    color: rgb(255, 255, 255);
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Typography */
#brand-title h1 {
    font-size: 24px;
    font-weight: 600;
}


/* Container */
.container {
    margin: 0 auto;
    max-width: 1400px;
}

/* row */
.row {
    display: flex;
}


/* Navigation  */
header {
    border-bottom: 1px solid rgb(255, 220, 25);
   
 
}
nav {
    display: flex;
    min-height: 80px;
    padding: 10px;
    align-items: center;
 
}

.navbar {
    display: flex;
    margin-left: auto;
}


nav span {
    margin-right: 20px;
}

nav span:hover {
    cursor: pointer;
}



/* Modal */
.modal {
    position: absolute;
    padding: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    box-shadow: 1px 1px 1px 1px rgba(53, 52, 52, 0.39);
    background: rgb(242, 251, 255);
    z-index: 2;
}

#modal-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.932);
    z-index: 1;
}

#modal-transaction {
    background: rgba(23, 79, 131, 0.555);
    text-align: center;
}

#modal-transaction p {

    text-align: center;
    margin-bottom: 20px;
}

#modal-transaction button {
    width: 100%;
    display: block;
    border-radius: 20px;
    border: 0;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: rgb(250, 183, 59);
}

/* Forms */
form input {
    outline: none;
}

#form-login {

}

.form-auth input{
    margin-bottom: 20px;
}

.form-auth .user-input {
    display: block;
    padding: 15px 20px;
    width: 100%;
    background: rgb(243, 243, 243);
    box-shadow: 1px 1px 1px 1px rgba(14, 14, 14, 0.11);
    border: 0;
    font-size: 18px;
}

#form-login .user-input::placeholder {
    font-size: 18px;
}

.form-auth legend {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    color: rgb(46, 44, 44);

}

#form-search {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}

#form-search input[type="text"] {
    padding: 10px 20px 10px 20px; 
    background: rgba(0, 0, 0, 0.555);
    width: 70%;
    border: 0;
    box-shadow: 1px 1px 1px 2px rgba(26, 25, 25, 0.055);
    font-size: 18px;
    color: rgb(247, 247, 247);
    border: 2px solid rgb(243, 217, 70);
    border-radius: 20px;

    /* border: 1px solid rgb(126, 134, 48);

    border-radius: 15px;
    width: 70%; */
}
#form-search input[type="text"]::placeholder {
    font-size: 18px;
    color: rgb(255, 255, 255);
 
}

#form-search input[type="submit"] {
    padding: 10px 20px;
    border: 0;
    color: rgb(252, 252, 252);
    border-radius: 40px;
    box-shadow: 1px 1px 0px 0px rgba(32, 32, 32, 0.315);
    background: rgba(0, 0, 0, 0.555);
    font-size: 18px;
    border: 2px solid rgb(243, 217, 70);
}

#bar-search {
    margin-top: 200px;
    margin-bottom: 40px;
}

.form-holder {
    display: flex;
    margin-top: 40px;
  
}

.form-holder div {
    width: 50%;
}

.form-transaction {
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    background: rgba(23, 79, 131, 0.555);
    padding: 30px;
    border: 1px solid rgb(255, 220, 25);
    height: 250px;
}

.form-transaction select {
    display: block;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.555);
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.form-transaction select option {
    display: block;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.555);
    padding: 10px 20px;
}

.form-transaction input[type="number"] {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    background: rgba(0, 0, 0, 0.555);
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.form-transaction input[type="number"]::placeholder {
    color: #fff;
}

.form-transaction input[type="submit"] {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0;
    display: block;
    width: 100%;
    background: rgb(245, 216, 54);
    margin-bottom: 20px;
}

/* Buttons */
.btn-submit {
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    background: rgb(79, 116, 97);
    color: white;
    border-radius: 20px;
    border: 0;
}

.btn-switch {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background: rgb(39, 31, 31);
    color: white;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}



/* User Message */
#user-message h3{
    font-size: 24px;
}

#user-message {
    background: rgb(255, 87, 87);
    position: absolute;
    top: 0;
    padding: 30px;
    text-align: center;
    width: 100%;
    z-index: 2;
}

/* Tables */
.all-cryptos-table {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 228, 75);
    padding: 10px;
    background: rgba(5, 5, 5, 0.719);
    width: 100%;
}

.all-cryptos-table div {
   display: flex;
   padding: 10px 20px;
   align-items: center;
   justify-content: center;
}

.all-cryptos-table td img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.all-cryptos-table tr {
   border: 1px solid rgb(185, 142, 142);
}   

#user-cryptos-table-holder {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    overflow-y: auto;
}

#user-cryptos-table-holder > div {
    background: rgba(5, 5, 5, 0.719);
    width: 100%;
    height: 100%;
    line-height: 400px;
    text-align: center;
    border: 1px solid rgb(255, 228, 75);
}

.user-cryptos-table {

    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    background: rgba(5, 5, 5, 0.719);
    margin: 0 auto;
    border: 1px solid rgb(255, 228, 75);
}

.user-cryptos-table td img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.user-cryptos-table div {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

/* Card */
#results-search {
    display: flex;
    flex-wrap: wrap;
  
}

#results-search h3 {
    text-align: center;
    width: 100%;
}

#results-search > div {
    width: 25%;
    padding: 10px;
}

.card-crypto {
    box-shadow: 1px 1px 1px 1px rgba(167, 164, 164, 0.192);
    text-align: center;
    background: rgba(255, 255, 255, 0.637);
    padding: 10px;
    border: 3px solid rgb(255, 220, 25);
    border-radius: 25px;
    height: 100%;
    color: #000000;
}

.card-crypto h3:nth-child(2) {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-crypto h3:nth-child(3) {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-crypto img {
    height: 64px;
    width: 64px;
    margin-bottom: 10px;
}

.welcome-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: rgba(5, 5, 5, 0.719);
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(255, 228, 75);
    justify-content: space-evenly;
    padding: 10px;
}

.welcome-card img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

.welcome-card h3 {
    margin-bottom: 20px;
}

.welcome-card li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#sidebar-one {
    width: 20%;
    padding: 20px;
    max-height: 600px;
}

#dashboard-container-one {
    width: 80%;
    padding: 20px;
    display: flex;
    height: 600px;
    overflow-y: auto;   
 
}

#dashboard-container-one > div {
    width: 100%;
    background: rgba(5, 5, 5, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 228, 75);
}

#dashboard-container-one table {
    width: 100%;
    border: 1px solid rgb(255, 228, 75);
    border-radius: 20px;
}

/* User Balance  Container*/
.user-balance-container {

    margin: 40px auto;
    text-align: center;
    background: rgba(6, 8, 26, 0.664);
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(255, 228, 75);
    border-radius: 5px;
}

.user-balance-container div {

}

/* Helpers */
.hidden {
    display: none;
}

/* Loaders */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(26, 63, 82);
    border-color: #cef transparent #cef transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  

  #absolute-loader-holder {
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(102, 159, 185, 0.945);

  }

  #absolute-loader-holder .lds-roller {
      height: 200px;
      width: 200px;
      transform: translate(-50%, 0);
      top: 40%;
      left: 50%;
      position: absolute; 
  }

  .relative-loader {
      position: absolute;
      left: 45%;
      top: 40%;
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
#absolute-loader-holder-two {
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;

}

#absolute-loader-holder-two .lds-hourglass {
    position: absolute;
    left: 45%;
    top: 40%;

}