/* Setup */
html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: linear-gradient(to bottom, #002c6f, #005c87, #3b868d, #8fab9f, #d0d1ce);
    color: rgb(255, 255, 255);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Typography */
#brand-title h1 {
    font-size: 24px;
    font-weight: 600;
}


/* Container */
.container {
    margin: 0 auto;
    max-width: 1120px;
}


/* Navigation  */
header {
    border-bottom: 1px solid rgb(255, 220, 25);
   
 
}
nav {
    display: flex;
    min-height: 80px;
    padding: 10px;
    align-items: center;
 
}

.navbar {
    display: flex;
    margin-left: auto;
}


nav span {
    margin-right: 20px;
}

nav span:hover {
    cursor: pointer;
}



/* Modal */
.modal {
    position: absolute;
    padding: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    box-shadow: 1px 1px 1px 1px rgba(53, 52, 52, 0.39);
    background: rgb(242, 251, 255);
    z-index: 2;
}

#modal-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.932);
    z-index: 1;
}

#modal-transaction {
    color: #000;
}


/* Forms */
form input {
    outline: none;
}

#form-login {

}

.form-auth input{
    margin-bottom: 20px;
}

.form-auth .user-input {
    display: block;
    padding: 15px 20px;
    width: 100%;
    background: rgb(243, 243, 243);
    box-shadow: 1px 1px 1px 1px rgba(14, 14, 14, 0.11);
    border: 0;
    font-size: 18px;
}

#form-login .user-input::placeholder {
    font-size: 18px;
}

.form-auth legend {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    color: rgb(46, 44, 44);

}

#form-search {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}

#form-search input[type="text"] {
    padding: 10px 20px 10px 20px; 
    background: rgb(14, 26, 92);
    width: 70%;
    border: 0;
    box-shadow: 1px 1px 1px 2px rgba(26, 25, 25, 0.055);
    font-size: 18px;
    color: rgb(247, 247, 247);
    border: 2px solid rgb(243, 217, 70);
    border-radius: 20px;

    /* border: 1px solid rgb(126, 134, 48);

    border-radius: 15px;
    width: 70%; */
}
#form-search input[type="text"]::placeholder {
    font-size: 18px;
    color: rgb(255, 255, 255);
 
}

#form-search input[type="submit"] {
    padding: 10px 20px;
    border: 0;
    color: rgb(252, 252, 252);
    border-radius: 40px;
    box-shadow: 1px 1px 0px 0px rgba(32, 32, 32, 0.315);
    background: rgb(14, 26, 92);
    font-size: 18px;
    border: 2px solid rgb(243, 217, 70);
}

#bar-search {
    margin-top: 200px;
    margin-bottom: 40px;
}

.form-holder {
    display: flex;
    margin-top: 40px;
}

.form-holder div {
    width: 50%;
}

.form-transaction {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.555);
}

.form-transaction select {
    display: block;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.555);
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.form-transaction select option {
    display: block;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.555);
    padding: 10px 20px;
}

.form-transaction input[type="number"] {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    background: rgba(0, 0, 0, 0.555);
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.form-transaction input[type="number"]::placeholder {
    color: #fff;
}

.form-transaction input[type="submit"] {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0;
    display: block;
    width: 100%;
}

/* Buttons */
.btn-submit {
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    background: rgb(79, 116, 97);
    color: white;
    border-radius: 20px;
    border: 0;
}

.btn-switch {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background: rgb(39, 31, 31);
    color: white;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}



/* User Message */
#user-message h3{
    font-size: 24px;
}

#user-message {
    background: rgb(255, 87, 87);
    position: absolute;
    top: 0;
    padding: 30px;
    text-align: center;
    width: 100%;
    z-index: 2;
}

/* Tables */
.all-cryptos-table {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    background: rgba(5, 5, 5, 0.719);
}

.all-cryptos-table div {
   display: flex;
   padding: 10px 20px;
   align-items: center;
   justify-content: center;
}

.all-cryptos-table td img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.all-cryptos-table tr {
   border: 1px solid rgb(185, 142, 142);
}   


/* Card */
#results-search {
    display: flex;
    flex-wrap: wrap;
  
}

#results-search h3 {
    text-align: center;
    width: 100%;
}

#results-search > div {
    width: 25%;
    padding: 10px;
}

.card-crypto {
    box-shadow: 1px 1px 1px 1px rgba(167, 164, 164, 0.192);
    text-align: center;
    background: rgb(253, 253, 253);
    padding: 10px;
    border: 3px solid rgb(255, 220, 25);
    border-radius: 25px;
    height: 100%;
    color: #000000;
}

.card-crypto h3:nth-child(2) {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-crypto h3:nth-child(3) {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-crypto img {
    height: 64px;
    width: 64px;
    margin-bottom: 10px;
}


/* Helpers */
.hidden {
    display: none;
}

